body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #016f32;
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: larger;
}

h1 {
    color: goldenrod;
    font-size: xx-large;
    margin-top: 30px
}

p {
    margin: 7px;
}

#message-el {
    font-style: italic;
}

button {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 5px;
}